* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  color: #fff;
  background: linear-gradient(90deg, #fc00ff, #00dbde);
  min-height: 100vh;
}

.header {
  font-size: 1.5rem;
}

.header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form input,
form button {
  padding: 0.5rem 1rem;
  font-size: 2rem;
  border: none;
  background-color: #fff;
  outline: none;
}

form button {
  color: #a04ff2;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
}

form button:hover {
  background-color: #a04ff2;
  color: #fff;
}
